@model Entidades.Alumnos

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Alumno</h2>
<h3>¿Esta seguro que desea eliminar al alumno? </h3>

    @using (Html.BeginForm())
    {
        <table border="0" style="border-collapse: separate; border-spacing: 10px; width: 50%;">
            <tr>
                <th style="text-align: right;">ID</th>
                <td>
                    @Html.DisplayFor(m => m.id)
                </td>
            </tr>
            <tr>
                <th style="text-align: right;">Nombre</th>
                <td>
                    @Html.DisplayFor(m => m.nombre)
                </td>
            </tr>
            <tr>
                <th style="text-align: right;">Primer Apellido</th>
                <td>
                    @Html.DisplayFor(m => m.primerApellido)
                </td>
            </tr>
            <tr>
                <th style="text-align: right;">Segundo Apellido</th>
                <td>
                    @Html.DisplayFor(m => m.segundoApellido)
                </td>
            </tr>
            <tr>
                <th style="text-align: right;">Fecha de Nacimiento</th>
                <td>
                    @*@Html.DisplayFor(m => m.fechaNacimiento.ToString("yyyy-MM-dd"))*@

                    @{
                        string Fec = Model.fechaNacimiento.ToString("yyyy-MM-dd");

                        @Html.DisplayFor(m => Fec);
                    }
                </td>
            </tr>
            <tr>
                <th style="text-align: right;">CURP</th>
                <td>
                    @Html.DisplayFor(m => m.curp)
                </td>
            </tr>
            <tr>
                <th style="text-align: right;">Correo</th>
                <td>
                    @Html.DisplayFor(m => m.correo)
                </td>
            </tr>
            <tr>
                <th style="text-align: right;">Teléfono</th>
                <td>
                    @Html.DisplayFor(m => m.telefono)
                </td>
            </tr>
            <tr>
                <th style="text-align: right;">Sueldo Mensual</th>
                <td>
                    @Html.DisplayFor(m => m.sueldo)
                </td>
            </tr>
            <tr>
                <th style="text-align: right;">Estado</th>
                <td>
                    @Html.DisplayFor(m => m.Estados.nombre)
                </td>
            </tr>
            <tr>
                <th style="text-align: right;">Estatus</th>
                <td>
                    @Html.DisplayFor(m => m.EstatusAlumnos.Nombre)
                </td>
            </tr>
        </table>

        <div>
            @*@Html.ActionLink("Eliminar", "Eliminar", "Alumnos", new { idAlumno = @Model.id }, htmlAttributes: new { @class = "btn btn-danger btn-sm" })*@
            <br />
            <input type="Submit" value="Eliminar" class="btn btn-danger" />

        </div>

    }

    <br />
    @Html.ActionLink("Regresar al Index", "Regresar", "Alumnos", htmlAttributes: new { @class = "btn btn-grey btn-sm" })
