
@{
    ViewBag.Title = "Ciclos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ciclos</h2>

@{ 
    int Suma = 0;
}

@for (int i = 1; i <= 10; i++)
{
    var id = "p" + i.ToString();
    <p id=@id>Suma @id</p>

    Suma += i;
}

<p>La suma es @Suma</p>

@{ 
    Dictionary<string, string> DicTerminos = new Dictionary<string, string>()
     { {"Http", "Es un protocolo de acceso..." },
       {"Clase", "Es una plantilla para la creación de objetos..." },
       {"HTML", "Es un lenguaje de marcado que se utiliza..." }
    };
}

<dl>
    @foreach (KeyValuePair<string,string> kvp in DicTerminos)
    {
        <dt>@kvp.Key</dt>
        <dd>@kvp.Value</dd>
    }
</dl>


<ol>
    @foreach (var item in Request.ServerVariables)
    {
        <li>@item</li>
    }
</ol>